@media only screen and (max-width: 550px) {
  .section-one .left {
    width: 100%;
  }
  .section-one .left h3 {
    font-size: 2em;
  }
  .section-one .left p {
    line-height: 30px;
  }
  .section-one .left input {
    padding: 0px;
    text-align: center;
    width: 75%;
  }
  .section-one .left button {
    margin-top: 15px;
    position: static;
    width: 75%;
  }
  /* section four */
  .section-four .my-container .left .btn-one {
    width: 50%;
    margin-bottom: 20px;
  }
  .section-four .my-container .left .btn-two {
    width: 50%;
  }
  .section-four .my-container .left {
    margin-left: -25px;
  }
  .section-four .my-container .right img {
    width: 100%;
    object-fit: fill;
  }
  .section-four .my-container .right {
    width: 100%;
    padding-right: 20px;
  }
}
