@media only screen and (max-width: 1070px) {
  .navbar .nav-right {
    display: none;
    background-color: brown;
  }
  .navbar .nav-items {
    margin-right: 10px;
  }
  .section-one {
    width: 100%;
  }
  .section-one .left h3 {
    font-size: 2em;
  }
  .section-one .left p {
    font-size: 0.9em;
  }
  .section-one .left input {
    width: 70%;
  }
  .section-one .left button {
    width: 25%;
    bottom: 12px;
  }
  .section-one .right {
    width: 100%;
  }
  .section-three .cards {
    width: 100%;
  }
  .section-three .cards .left {
    width: 33%;
  }
  .section-three .cards .left img {
    width: 100%;
    object-fit: fill;
  }
}
