body{
  padding: 0;
  margin: 0;
}
@font-face {
  font-family: pop-bold;
  src: url(Fonts/Poppins-Bold.ttf);
}
@font-face {
  font-family: pop-reg;
  src: url(Fonts/Poppins-Regular.ttf);
}
*{
  font-family: pop-reg;
}
nav{
  width: 100%;
  height: 90px;
  display: flex;
  background-color: #FAFAFA;
  border-radius: 70px;
  margin-top: 10px;
}

.navbar ul {
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  gap: 40px;
  font-size: 1em;
  height: 60px;
  align-items: center;
  padding: 10px;
  cursor: pointer;
}
.navbar ul li:hover{
  color: orange;
}
.navbar ul button:hover{
  background-color: rgb(235, 194, 119);
}
.navbar .nav-icon{
  display: none;
}
.navbar .nav-items {
  margin-top: 10px;
  display: flex;
  list-style-type: none;
  gap: 40px;
  background-color: #FEFEFF;
  border-radius: 40px;
  font-size: 1  em;
  height: 60px;
  align-items: center;
  padding: 10px;
}
.nav-right{
  padding-right: 40px;
}
.nav-right ul button{
  height: 60px;
  width: 150px;
  border-radius: 40px;
  background-color: white;
  border: 1px solid #BEBEBE;
}
nav .logo{
  padding-left: 40px;
  font-size:1.5em ;
  font-weight: bold;
  font-family: pop-bold;
  cursor: pointer;
}

.section-one{
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-image: url(images/section-one-bg.png);
  margin-top: 15px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 40px;
  border-radius: 15px;
}
.section-one .left p{
  font-size: 1em;
}
.section-one .left input {
  border-radius: 40px;
  height: 60px;
  border: none;
  width: 70%;
  padding: 10px;
}
.section-one .left button{
  position: relative;
  border-radius: 40px;
  right: 65px;
  height: 60px;
  background-color: #1F1F1F;
  color: white;
}
.section-one .left h3{
  font-family: pop-bold;
  font-size: 3em;
}
.section-one .right {
  width: 60%;
}
.section-one .right img{
  padding-top: 100px;
  width: 100%;
}

/* section two start */
.section-two{
  width: 100%;
  margin-top: 120px;
}
.section-two .top{
  text-align: center;
}
.section-two .top p{
  font-size: 1em;
}
.section-two .top h3{
  font-family: pop-bold;
  font-size: 2.4em;
}
.section-two .bottom{
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  width: 100%;
}
.section-two .bottom img{
  width: 50px;
}
.section-two .bottom h4{
  font-family: pop-bold;
}
.section-two .bottom div{
  width: 25%;
}